<h2 class="text-center">Sign in</h2>

<div class="well-lg text-center">
  <%= form_for @user do |f| %>
    <div class="form-group">
      <%= f.text_field :email, placeholder: "Enter Email" %>
    </div>
    <div class="form-group">
      <%= f.password_field :password, placeholder: "Enter Password" %>
    </div>

    <div class="form-group">
      <%= f.submit "Sign up" %>
    </div>

  <% end %>
</div>
